<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean 	id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			scope="singleton" destroy-method="close">
		<property name="driverClassName" value="sun.jdbc.odbc.JdbcOdbcDriver"/>
		<property name="url" value="jdbc:odbc:;DRIVER=Microsoft Access Driver (*.accdb);DBQ=${java.io.tmpdir}\TEST.accdb;"/>
		<property name="username" value=""/>
        <property name="password" value=""/>
	</bean>

	<!-- Definition for studentJDBCTemplate bean -->
	<bean id="studentJDBCTemplate" class="com.tutorialspoint.StudentJDBCTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>