<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- #####################AutoWiring By Name -->
	<!-- Definition for textEditor bean -->
	<bean id="textEditorByName" class="com.tutorialspoint.autowiring.byname.TextEditor"
		autowire="byName">
		<property name="name" value="Generic Text Editor" />
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellChecker" class="com.tutorialspoint.autowiring.byname.SpellChecker">
	</bean>

	<!-- #####################AutoWiring By Type -->
	<!-- Definition for textEditor bean -->
	<bean id="textEditorByType" class="com.tutorialspoint.autowiring.bytype.TextEditor"
		autowire="byType">
		<property name="name" value="Generic Text Editor" />
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="SpellChecker" class="com.tutorialspoint.autowiring.bytype.SpellChecker">
	</bean>

	<!-- #####################AutoWiring By Constructor -->
	<!-- Definition for textEditor bean -->
	<bean id="textEditorByConstructor" class="com.tutorialspoint.autowiring.byconstructor.TextEditor"
		autowire="constructor">
		<constructor-arg value="Generic Text Editor" />
	</bean>
	
</beans>