<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- ##########################################Constructor Based Application -->
	<!-- Definition for textEditor bean -->
	<bean id="textEditorConstructor" class="com.tutorialspoint.constructor.TextEditor">
		<constructor-arg ref="spellCheckerConstructor" />
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellCheckerConstructor" class="com.tutorialspoint.constructor.SpellChecker">
	</bean>

	<bean id="fooBean" class="x.y.Foo">
		<constructor-arg type="int" value="2001" />
		<constructor-arg type="java.lang.String" value="Zara" />
	</bean>

	<bean id="fooIndexBean" class="x.y.FooIndex">
		<constructor-arg index="1" value="Zara" />
		<constructor-arg index="0" value="2001" />
	</bean>

	<!-- ##########################################Setter Based Application -->
	<!-- Definition for textEditor bean -->
	<bean id="textEditorSetter" class="com.tutorialspoint.setter.TextEditor">
		<property name="spellChecker" ref="spellCheckerSetter" />
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellCheckerSetter" class="com.tutorialspoint.setter.SpellChecker">
	</bean>
	
	<!-- ########################################## standard XML configuration Without Namespace -->
	<bean id="john-classic" class="com.example.Person">
		<property name="name" value="John Doe" />
		<property name="spouse" ref="jane"/>
	</bean>
	
	<bean name="jane" class="com.example.Person">
      <property name="name" value="Janet Doe"/>
   </bean>
   
   <!-- ########################################## standard XML configuration With Namespace -->
   <bean id="john-classic-namespace" class="com.example.Person"
      	 p:name="John Doe namespace"
      	 p:spouse-ref="jane-namespace"/>

   <bean name="jane-namespace" 
   		 class="com.example.Person"
      	 p:name="Janet Doe namespace"/>

</beans>